
// Buttons
.btn {
	border: 1px solid $link;
	padding: 6px 9px;
	background-color: transparent;
	@include SourceSansProRegular;

	i {
		padding-right: 6px;
	}

	a {
		color: $link;
		text-transform: uppercase;
		text-align: center;
	}

	&:hover {
		background-color: $link;

		a {
			color: $beige;
		}
	}
}

.btn-small {
	font-size: 1.2rem
}

.btn-wide {
	width: 100%;
}

.btn-secondary {
	background-color: $link;

	a {
		color: $beige;
	}

	&:hover {
		background-color: transparent;

		a {
			color: $link;
		}
	}

}

.btn button {
	border: 0;
	background-color: transparent;
	padding: 0;
	@include SourceSansProRegular;
	color: $link;
	text-transform: uppercase;
	text-align: center;
}

.btn:hover button {
	background-color: $link;
	color: $beige;
}


.btn-secondary button {
	border: 0;
	background-color: $link;
	padding: 0;
	@include SourceSansProRegular;
	color: $beige;
	text-transform: uppercase;
	text-align: center;

	&:hover {
		background-color: transparent;

		a {
			color: $link;
		}
	}
}

.btn-inline {
	display: inline;
	margin: 0 10px;
}


