.form-group {
	padding: 15px 0;

	label {
		display: block;
		margin: 5px 0px;
		@include SourceSansProLightItalic;
		text-transform: uppercase;
		color: $gray;
	}

	input, textarea {
		@include RobotoSlabRegular;
		color: $text-color;
		padding: 5px 7px;
		border: 0px;
		width: 100%;
	}

	textarea {
		resize: none;
	}

	select {
		border: 0;
		height: 30px;
		min-width: 280px;
		background: $green;
		color: $white;

		option {
			padding: 7px 5px;
			@include RobotoSlabRegular;
			min-height: 20em;
		}
	}

	button {
		border: 0px;
		background: $green;
		color: $white;
		padding: 6px 12px;
		margin: 0 7px;
		text-transform: uppercase;
		font-size: .8rem;

		&.selected-tag,
		&:hover,
		&:focus {
			background: darken($green, 15%);
		}
	}
}

.image-uploaded {
	margin: 20px 0 40px;

	.image-uploaded__title{
		color: $white;
		background-color: $green;
		max-width: 45%;
		padding: 5px 15px;
		margin-bottom: 10px;
	}

	img {
		max-width: 50%;
	}
}

